* {
  box-sizing: border-box;
}

.login {
  position: relative;
  height: 720px;
  background: #e5e5e5;
}

.login__block {
  position: absolute;
  width: 510px;
  height: 520px;
  left: calc(50% - 510px / 2);
  top: calc(50% - 520px / 2);
  background: white;
  border-radius: 15px;
  text-align: center;
}

.login__block h4 {
  margin-top: 32px;
}

.login__img {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.login__form h5 {
  text-align: start;
  margin-left: 90px;
  margin-bottom: 0;
  color: rgb(194, 194, 194);
}

.login__form input {
  border: 1px solid #949494;
  border-radius: 10px;
  width: 335px;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 10px;
}

.left {
  margin-left: 25px;
}

.login__form input:focus {
  border: 1px solid #1f90fa;
  outline: none;
}

.login__password__control {
  position: relative;
  top: 6px;
  right: 33px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../assets/view.svg) 0 0 no-repeat;
  border: none;
  cursor: pointer;
}
.view {
  background: url(../../assets/no-view.svg) 0 0 no-repeat;
}

.login__submit {
  border: none;
  background: #1390e5;
  border-radius: 10px;
  width: 175px;
  height: 50px;
  font-size: 20px;
  color: white;
  margin-top: 40px;
}

.login__submit:active {
  background: #29a3f5;
  box-shadow: 0px 2px 2px inset rgb(5, 64, 119);
}
